* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	user-select: none;
	-webkit-user-drag: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: none;
}

#registration {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#background {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	overflow: visible;
}
#character {
	position: absolute;
	width: 25%;
	height: 90%;
	left: 43%;
	top: 10%;
	overflow: visible;
}
#label {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.4));
	left: 18.5%;
	top: 15%;
	position: absolute;
	overflow: visible;
	width: 25%;
	white-space: nowrap;
	text-align: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 3.4vw;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
#name-wrapper {
	position: absolute;
	width: 20.7%;
	height: 9%;
	left: 18.6%;
	top: 27%;
	overflow: visible;
}
.name-input {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 68%;
	left: 0%;
	top: 35%;
	border-radius: 7px;
	border: 1px solid rgba(112,112,112,0.569);
}
#name {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.451));
	left: 0%;
	top: 0%;
	position: absolute;
	overflow: visible;
	width: 30%;
	white-space: nowrap;
	text-align: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2vw;
	color: rgba(198,198,198,1);
	letter-spacing: 1px;
}
#lastname-wrapper {
	position: absolute;
	width: 20.7%;
	height: 9%;
	left: 18.6%;
	top: 38.5%;
	overflow: visible;
}
.lastname-input {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 68%;
	left: 0%;
	top: 35%;
	border-radius: 7px;
	border: 1px solid rgba(112,112,112,0.569);
}
#lastname {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.451));
	left: 0%;
	top: 0%;
	position: absolute;
	overflow: visible;
	width: 30%;
	white-space: nowrap;
	text-align: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2vw;
	color: rgba(198,198,198,1);
	letter-spacing: 1px;
}
#dateofbirth-wrapper {
	position: absolute;
	position: absolute;
	width: 20.7%;
	height: 9%;
	left: 18.6%;
	top: 50%;
	overflow: visible;
}
#dateofbirth {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.451));
	left: 0%;
	top: 0%;
	position: absolute;
	overflow: visible;
	width: 35%;
	white-space: nowrap;
	text-align: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2vw;
	color: rgba(198,198,198,1);
	letter-spacing: 1px;
}
.dateofbirth-input {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 68%;
	left: 0%;
	top: 35%;
	border-radius: 7px;
	border: 1px solid rgba(112,112,112,0.569);
	background-color: white;
}
#height-wrapper {
	position: absolute;
	width: 20.7%;
	height: 9%;
	left: 18.6%;
	top: 61%;
	overflow: visible;
}
#height {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.451));
	left: 0%;
	top: 0%;
	position: absolute;
	overflow: visible;
	width: 18%;
	white-space: nowrap;
	text-align: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.2vw;
	color: rgba(198,198,198,1);
	letter-spacing: 1px;
}
.height-input {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 68%;
	left: 0%;
	top: 35%;
	border-radius: 7px;
	border: 1px solid rgba(112,112,112,0.569);
}
#register-btn {
	position: absolute;
	width: 20.6%;
	height: 6%;
	left: 18.6%;
	top: 79%;
	overflow: visible;
	background: linear-gradient(270deg, rgba(246,94,43,1) 27%, rgba(251,223,98,1) 89%);		
	border-radius: 7px;
	outline: none;
	transition: 0.3s;
}

#register-btn:hover {
	border: 2px solid rgba(246,94,43,1);	
}

#btn-text {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.451));
	white-space: nowrap;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5vw;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}

.radio {
	white-space: nowrap;
	text-align: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1vw;
	color: rgba(198,198,198,1);
	letter-spacing: 2px;
	position: absolute;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.451));
	left: 24.5%;
	top: 73.5%;
}

.radio-btn {
	padding-left: 15%;
}

input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: rgba(198,198,198,1)	;
	content: '';
	display: inline-block;
	visibility: visible;
}

input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background: linear-gradient(270deg, rgba(246,94,43,1) 27%, rgba(251,223,98,1) 89%);
	content: '';
	display: inline-block;
	visibility: visible;
}

input:focus, textarea:focus, select:focus{
	outline: none;
}

input {
    border: none;
    padding: 10px;
	font-size: 0.8vw;
	color: rgba(198,198,198,1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}